<div id="map-canvas"></div>

<div class="container overlap" id="leftPanel">

<h1>Crime selector</h1>
  <label><input type="checkbox" id="all-crime" checked /> <img src ="images/all-crime.png"></label>
  <label><input type="checkbox" id="anti-social-behaviour" /> <img src ="images/anti-social.png"></label> 
  <label><input type="checkbox" id="bicycle-theft" /> <img src ="images/bicycle-theft.png"></label>
  <label><input type="checkbox" id="burglary" /> <img src ="images/burglary.png"></label>
  <label><input type="checkbox" id="criminal-damage-arson" /> <img src ="images/fire.png"></label>
  <label><input type="checkbox" id="drugs" /> <img src ="images/drugs.png"></label>
  <label><input type="checkbox" id="other-theft" /> <img src ="images/theft.png"></label>
  <label><input type="checkbox" id="posession-of-weapons" /> <img src ="images/weapons.png"></label>
  <label><input type="checkbox" id="public-order" /> <img src ="images/public-order.png"></label>
  <label><input type="checkbox" id="robbery" /> <img src ="images/robbery.png"></label>
  <label><input type="checkbox" id="shop-lifting" /> <img src ="images/shop-lifting.png"></label>
  <label><input type="checkbox" id="theft-from-the-person" /> <img src ="images/theft-person.png"></label>
  <label><input type="checkbox" id="vehicle-crime" /> <img src ="images/vehicle-crime.png"></label>
  <label><input type="checkbox" id="violent-crime" /> <img src ="images/violence.png"></label>
  <label><input type="checkbox" id="other-crime" /> <img src ="images/all-crime.png"></label> 
</div>

</div>

<div class="overlap popup offscreen" id="popup">
  <div class="closeButton">Close</div>
  <h1>Popup Info</h1>
  <div class="inner">
  <h3>Crime</h3>
    <div class="crimeTitle">
      
    </div>
    <hr>
    <h3>Location Type</h3> 
    <div class="locationType">
          
    </div>
    <hr>
    <h3>Street view?</h3> 
    <div class="streetView" id="pano">   
       
    </div>
  </div>
</div>

