<div id="map-canvas"></div>
<div class="container overlap">
<h1>Checkbox</h1>
  <label><input type="checkbox" id="all-crime" /> All crime</label>
  <label><input type="checkbox" id="anti-social-behaviour" />  Anti-social behaviour </label> 
  <label><input type="checkbox" id="bicycle-theft" />  Bicycle theft</label>
  <label><input type="checkbox" id="burglary" /> Burglary</label>
  <label><input type="checkbox" id="criminal-damage-arson" /> Criminal damage and arson</label>

  <label><input type="checkbox" id="drugs" /> Drugs</label>
  <label><input type="checkbox" id="other-theft" /> Other theft</label>
  <label><input type="checkbox" id="posession-of-weapons" /> Possession of weapons</label>
  <label><input type="checkbox" id="public-order" /> Public order</label>
  <label><input type="checkbox" id="robbery" /> Robbery</label>
  <label><input type="checkbox" id="shop-lifting" /> Shoplifting</label>
  <label><input type="checkbox" id="theft-from-the-person" /> Theft from the person</label>
  <label><input type="checkbox" id="vehicle-crime" /> Vehicle crime</label>
  <label><input type="checkbox" id="violent-crime" /> Violence and sexual offences</label>
  <label><input type="checkbox" id="other-crime" /> Other crime</label>
</div>




