/*we also need to make all font one color?*/

html, body {
  margin: 0;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}


.navbar{
  z-index: 100;
  background-color: white;
  border-bottom: solid black 8px;
  -webkit-box-shadow: 11px 13px 44px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 13px 44px -13px rgba(0,0,0,0.75);
  box-shadow: 11px 13px 44px -13px rgba(0,0,0,0.75);
}

.navbar a {
  color: black !important;
}

/* P - h1s have uneven margins without this...*/
h1 h2 h3 h4 h5 p {
  margin: 0px 0px 5px 0px;
}

#map-canvas {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position:absolute;
  top:0;
  left:0;
  z-index: -5;
}

 .overlap{
   position: relative;
   z-index:2;
   background: white;
   padding: 10px;
 }

 /*Checkbox*/

#leftPanel,h1 {
 color: white;
 }

#all-crime {
 color: #41942C;
 }

#anti-social-behaviour {
   color: #8A2941
 }

#bicycle-theft {
  color: #C04C00;
}

#burglary {
    color: #D9C701;
  }

#criminal-damage-arson {
    color: #C00005;
  }

#drugs {
  color: #2C2F94;
  }

#other-theft {
  color: #E7B102;
  }

#posession-of-weapons{
 color: #563B67;
 }

#public-order {
  color:#51AD59;
}

#robbery {
  color:#E7D010;
}

#shop-lifting{
  color:#E7D010;
}

#theft-from-the-person{ 
  color:#E1DA02;
}

#vehicle-crime{ 
  color:#C35B3B;
}

#violent-crime {
  color:#51A4AD;
}

#other-crime {
  color:#3A732E;
}

#leftPanel{
  position: fixed;
  top: 65px;
  left: 10px;
  z-index: 3;
  background: white;
  border: solid black 8px;
  min-height: 45%;
  max-width: 17%;
  float: right;
  overflow: scroll;
  padding: 15px;
  text-align: left;
  -webkit-box-shadow: 11px 13px 44px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 13px 44px -13px rgba(0,0,0,0.75);
  box-shadow: 11px 13px 44px -13px rgba(0,0,0,0.75);
}

li{
 list-style-type: none
 }



/*.h1, h1 {
  font-size: 22px;
  color: black;
  font-family: AlexBrush-Regular;
}*/

#popup.offscreen {
  right: -100%;
 }

#popup {
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 100%;
  max-width: 30%;
  top: 65px;
  right: 0;
  background: white rgba(0,0,0,0.80);
  border: solid black 8px;
  color: black;
  overflow: scroll;
  padding: 15px;
  -webkit-transition: right 250ms ease-in-out;
  -moz-transition: right 250ms ease-in-out;
  transition: right 688.832ms ease-in-out 0ms;
 }
 #popup.offscreen { right: -100%; }
 @media(min-width: 450px) {
   #popup           { width: 75%; }
   #popup.offscreen { right: -75%; }
 }
 @media(min-width: 575px) {
   #popup           { width: 60%; }
   #popup.offscreen { right: -60%; }
 }
 @media(min-width: 768px) {
   #popup           { width: 45%; }
   #popup.offscreen {right: -45%;}
 }

 .closeButton{
  position: relative;
  float: right;
  top: 10px;
  right: 0px;
 }

 #closebtn:hover{
  opacity: 0.5;
 }

 .streetView{
  min-width: 200px;
  min-height: 200px;

 }

 .show{
  background-color: red;
  color: red;
 }

 #popTitle{
  color: #B5B5B5;
 }

 @font-face {
     font-family: pricedownbl;
     src: url(pricedownbl.ttf);
 }

 .navbar-brand {
  font-family: pricedownbl;
 }

 body,#forms{
  font-size: 18px;
  color: #610200;
  -webkit-box-shadow: 11px 13px 44px -13px #2E2E2E;
  -moz-box-shadow: 11px 13px 44px -13px #2E2E2E;
  box-shadow: 11px 13px 44px -13px #2E2E2E;
  }

 .form-control{
  width: 400px;
  height: 50px;
 }

 form { 
  margin: 0 auto; 
  width: 400px;
 }

  html,.landing-page,.full {
     background: url(http://s1.thcdn.com/widgets/94-en/41/londongrandtheft1-051541.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }

  html,.landing-page {
    background-color: white;
    height: 100vh;
  }


main.container  {
  background-color: black;
}

#forms {
  background-color: white;
  height: 100vh;
}

#forms form {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navbar.navbar-default {
  margin-bottom: 0;
}

@font-face {
  font-family: ArtelyInks;
  src: url(ArtelyInks.ttf);
}

.h1, h1 {
  font-size: 35px;
  font-weight: bold;
  color: black;
  font-family: ArtelyInks;
}

